@font-face{
    font-family: slkscr;
    src: url(slkscr.ttf)
}
canvas{
    margin: auto;
    display: block;
}
div{                  
    font-family: slkscr;
    text-align: center;
}
#divScore, #divLevel, #divLife{
    display: inline;
}
h1{
    text-align: center;
    font-family: slkscr;
    display: block;
}